$colorBackground: #F4F8F9;
$colorBackgroundPrimary: #4F4F4F;
$colorBackgroundSecondary: #646464;
$colorBackgroundNavbar: #FAFBFC;

$colorMenu: #efefef;
$colorMenuHover: #fff;
$colorMenuBorder: #63ADFF;

$colorBorder: #E7E9EA;

$colorNotifTitle: #DCE0E5;
$colorNotifEventName: #000;
$colorNotifEventDesc: #BCC7CF;

$colorContentTitle: #233539;

$colorBoxBlue: #4DA1FF;
$colorBoxRed: #E65858;
$colorBoxGreen: #219653;

$colorNavbarMenu: #323C47;